<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Downloads</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Downloads.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="@(ViewData["IsColourful"] as bool? == true ? "background-image: linear-gradient(to right, #eb0c80 , orange);" : "background: #342e2f;")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color:#231f20; height:75px; border:0px solid black; border-radius:0 0 10px 10px; box-shadow: 0 0 25px black;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/Logo.png" alt="Image Description" id="big_image" style="width: 68px; height: 68px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" style="color:white; margin-left:10px;" asp-page="/Cars/Table">Cars</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" style="color:white; margin-left:10px;" asp-page="/PlayerStats/PlayerData">Leaderboard</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-end">
                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/AdminMenu" class="Admin-btn" style="color:white;">Admin Menu</a>
                }
            </div>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="navbar-end">
                    <a href="/Logout" class="Logout-btn" style="color:white;">Logout</a>
                </div>
            }
            else
                {
                    <div class="navbar-end">
                        <a href="/Login" class="Login-btn" style="color:white;">Login</a>
                    </div>
                }
        </nav>
    </header>
    <div class="container" id="body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="background-color:#231f20; width:100%; position:absolute; bottom:0px; box-shadow: 0 0 25px black;">
        <div class="footer_text" style="color:white; margin-left: 25px;">
            &copy; 2024 - NotForza - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
