@page
@model ErrorModel
@{
    ViewData["IsErrorPage"] = true;
    ViewData["Title"] = "Error";
}

<div style="padding-top: 150px;"> 
    <div class="access-denied-container">
        <h1 class="text-danger">Error 403: Forbidden</h1>
        <h2 class="text-danger">Admin Access Denied</h2>
        <p>You do not have permission to view this page. Please contact your administrator if you believe this is an error.</p>
        
        @if (Model.ShowRequestId)
        {
            <p class>
                <strong>Request ID:</strong> <code class="text-danger">@Model.RequestId</code>
            </p>
        }
        <a class="btn btn-danger" asp-page="/Index">GO AWAY</a>
    </div>
</div>